<html>
    <head>
        <title>連菁人迷宮遙控器</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                text-align: center;
            }
            button {
                border: 0px;
                background-color: white;
                width: 100px;
                height: 100px;
                font-size: 50px;
            }
            #btn-div {
                width: 100%;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
        <script>
            const URL_BASE = 'http://192.168.101.125:8000/click'
            var id = 0
            function onloadRun() {
                try {
                    id = (new URLSearchParams(window.location.search)).get('id')
                    document.getElementById('id-text').textContent = '#' + id
                } catch {
                    document.getElementById('id-text').textContent = 'error'
                }
            }
            function onclickBtn(key) {
                fetch(URL_BASE + '?id=' + id + '&key=' + key);
            }
        </script>
    </head>
    <body onload="onloadRun()">
        <h1>連菁人迷宮遙控器</h1>
        <h3 id="id-text"></h3>
        <div id="btn-div">
            <button onclick="onclickBtn('W')">^</button>
            <br>
            <button onclick="onclickBtn('A')">&lt;</button>
            <button>.</button>
            <button onclick="onclickBtn('D')">&gt;</button>
            <br>
            <button onclick="onclickBtn('S')">v</button>
        </div>
    </body>
</html>